/07_Hyperlinks_erstellen/.~lock.07_Hyperlinks_erstellen.ppt#
/.idea/encodings.xml
/06_Grafiken einbinden/.idea/encodings.xml
/.idea/modules.xml
/06_Grafiken einbinden/.idea/modules.xml
/.idea/school.iml
/.idea/vcs.xml
