/1_Html5/07_Hyperlinks_erstellen/.~lock.07_Hyperlinks_erstellen.ppt#
/.idea/encodings.xml
/1_Html5/06_Grafiken einbinden/.idea/encodings.xml
/.idea/modules.xml
/1_Html5/06_Grafiken einbinden/.idea/modules.xml
/.idea/school.iml
/.idea/vcs.xml
/1_Html5/03_Die_Erste_Webseite/.~lock.03_Die_erste_Webseite.pptx#
