body {
	font-family: Calibri, Helvetica, Arial, Geneva, sans-serif;
	background-color: #ddd;
	margin: 1em auto;
}
h1>*, #container>* {
	padding: 0.5em;
}
h1>a {
	display: inline-block;
	background-color: #4e95dc;
}
h1>span {
	display: block;
	background-color: #eee;
}

nav {
	background-color: #5fa6ed;
}
main {
	background-color: #fff;
}


