body {
    font: 400 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
    color: #73564d;
    font-size: 16px;
}

h1, h2 {
    color: #339966;
}

h1 {
    font-size: 24px;
    border-bottom: 1px solid #339966;
}

h2 {
    font-size: 20px;
}